.header {
  padding: 66px;
  height: 100vh;
  position: relative;
  display: flex;
  
  &--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;

    h1 {
      width: 631px;
      font-size: 59px;
      line-height: 68px;
      color: #ffffff;
      font-weight: 700;
    }
  }
  &__users {
    display: flex;
    align-items: center;
    gap: 13px;

    p {
      font-size: 13px;
      line-height: 38px;
      color: #ffffff;
      font-weight: 500;
    }
  }
}