@import '../../mixins.scss';
.header {
  padding: 66px;
  height: 800px;
  position: relative;
  display: flex;
  overflow: hidden;
  @include media(768) {
    padding: 0 15px;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
  }
  &--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    @include media(768) {
      flex-direction: column;
      align-items: center;
    }

    h1 {
      max-width: 80%;
      width: 100%;
      font-size: 59px;
      line-height: 68px;
      color: #ffffff;
      font-weight: 700;
      position: relative;
      @include media(768) {
        font-size: 45px;
        line-height: 50px;
        text-align: center;
      }
      @include media(576) {
        font-size: 30px;
        line-height: 35px;
      }

      &::before {
        content: '';
        background: url('/images/wave.png') center center / cover no-repeat;
        width: 78px;
        height: 15px;
        position: absolute;
        top: -15px;
        left: 0;
      }
    }
  }
  &__users {
    display: flex;
    align-items: center;
    gap: 13px;
    @include media(768) {
      flex-direction: column;
      justify-content: center;
    }

    p {
      font-size: 13px;
      line-height: 38px;
      color: #ffffff;
      font-weight: 500;
      text-align: center;
    }
  }
  &__scroll {
    position: absolute;
    left: 28px;
    bottom: -196px;
    width: 392px;
    height: 392px;
    border-radius: 50%;
    border: 1px dashed #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Rotate 50s infinite linear;
    @include media(480) {
      display: none;
    }

    &--block {
      width: 162px;
      height: 162px;
      border-radius: 50%;
      border: 1px dashed #ffffff;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 41px;
      color: #ffffff;
      font-size: 18px;
      line-height: 27px;
      animation: Rotate 50s infinite reverse linear;
    }
  }
}

@keyframes Rotate {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}