@import '../../mixins.scss';

.footer {
  min-height: 484px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  
  &__content {
    padding: 0 15px;
    height: 400px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    @include media(480) {
      height: 100%;
    }
  }
  &--bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    object-fit: contain;
  }
  &--info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    img {
      width: 126px;
    }
    &__tel {
      font-size: 16px;
      line-height: 28px;
      color: #757095;
      font-family: 'manrope';
      font-weight: 500;
    }
    &__socials {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  &--maps {
    height: 80%;
    object-fit: contain;
    @include media(480) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}