@mixin media($size) {
  @media(max-width: #{$size}px) {
    @content;
  }
}

@mixin FontFace($name, $fw, $fName, $fUrl, $ext, $format) {
  @font-face {
    font-family: $name;
    src: url('/fonts/#{$fUrl}-#{$fName}.#{$ext}') format($format);
    font-weight: $fw;
  }
}

$poppins: ('Light', 300), ('Regular', 400), ('Medium', 500), ('SemiBold', 600), ('Bold', 700);

@each $name, $weight in $poppins {
  @include FontFace('poppins', $weight, $name, 'poppins/Poppins', 'ttf', 'truetype')
}
@font-face {
  font-family: 'icons';
  src: url('/fonts/fa-light-300.ttf') format('truetype');
  font-weight: 300;
}